#contact{
    height: 100vh;
}
#contact .container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container .contact-form {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.contact-form .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container .contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info .contact-item {
    margin-bottom: 20px;
    display: flex;
}

.contact-info .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}