#contact{
    height: 100vh;
}
#contact .container {
    padding: 50px;
    margin: 20px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .contact-form {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.contact-form .two-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.two-inputs .input-container{
    width: 100%;
}

.two-inputs:nth-child(1) .input-container{
    margin-right: 5px;
}

.two-inputs:nth-child(2) .input-container{
    margin-left: 5px;
}

.contact-form .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container textarea {
    width: 100%;
    height: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.container .contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info .contact-item {
    margin-bottom: 20px;
    display: flex;
}

.contact-info .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}