@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

:root {
    --bg-color: #f5f5f5;
    --primary-color: #4959e6;
    --secondary-color: #f8a3a3;
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg-color);
    height: 100vh;
}