@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");

:root {
  --bg-color: #4657eee3;
  --primary-color: #4959e6;
  --secondary-color: #446df1;
  --text-color: #fff;
  --dark-color: #000;
  --light-dark: rgb(18, 19, 19);
  --transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
  border: 2px solid var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: var(--secondary-color);
  color: var(--text-color);
}

body {
  background: var(--bg-color);
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  overflow-x: hidden;
}

#intro {
  position: relative;
  height: 100vh;
}

.blob-anim {
  position: absolute;
  top: -300px;
  left: -400px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 800px;
  height: 70px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 16px;
  user-select: none;
  transition: var(--transition);
  z-index: 999;
}

header .logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  letter-spacing: 2px;
}

.logo span {
  color: var(--secondary-color);
  font-size: 30px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: auto 0;
}

header nav ul .nav-link {
  list-style: none;
  margin-left: 16px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 4px 8px;
  transition: var(--transition);
}

header nav ul .nav-link a,
.theme-icon {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  transition: var(--transition);
}

.nav-link:last-child {
  margin-top: 6px;
}

.nav-link a:hover {
  color: var(--text-color);
}

.nav-link .settings-icon:hover {
  background: transparent;
}

.nav-link.active-link:not(:last-child) {
  background: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 4px;
}

/* MENU FOR MOBILE */
.menu-btn .menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
  cursor: pointer;
  color: var(--text-color);
  transition: var(--transition);
  display: none;
}

header nav.mobile-nav{
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  margin: -10px -10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #06283D;
  color: #fff;
}

nav ul.mobile-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav ul li{
  color: #fff;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1260px){
  #about .about-content .about-text p{
    font-size: 18px;
  }

  #about .about-content .about-text p span {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1136px){
  #about .about-content .about-text p{
    font-size: 16px;
  }

  #about .about-content .about-text p span {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1046px){
  #about .about-content .about-text p{
    font-size: 14px;
  }

  #about .about-content .about-text p span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 860px){
  /* intro section */

  header {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  #intro .intro-container{
    flex-direction: column;
  }

  #intro .intro-text{
    margin-top: 100px;
  }

  #intro .swiper{
    width: 90%;
  }

  /* about section */
  #about .container .about-content{
    flex-direction: column;
  }

  #about .container .about-content .about-text, #about .container .about-content .about-skills{
    width: 90%;
  }

  #about .container .about-content .about-text{
    margin-bottom: 24px;
  }

  #about .about-content .about-text p{
    font-size: 18px;
  }
}