<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dictionary | By Abdellatif Laghjaj</title>
</head>

<body>
    <div id="app">
        <div class="container" v-if="isLoaded">
            <header class="flex flex-col justify-between items-center">
                <h1 class="my-2 text-3xl font-bold" style="color: #fff;">Abdel<span class="text-primary">.</span>
                    DICTIONARY</h1>

                <!-- Error -->
                <div class="alert alert-error shadow-lg" v-if="error">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{ error }}</span>
                    </div>
                </div>

                <div class="search-box my-2 w-full">
                    <div class="form-control">
                        <div class="input-group">
                            <input type="text" placeholder="Type a word here..." class="input input-bordered w-full"
                                v-model="word">
                            <button class="btn btn-square" @click="searchWord">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </header>

            <div class="divider" style="color: #fff;" v-if="output.length > 0">OUTPUT {{ message }}</div>

            <!-- list of dics-->
            <div class="output">
                <div v-for="(dic, index) in output" :key="index" v-if="output.length > 0">
                    <div class="border-l-4 border-white text-white p-4 my-2 card-dic" role="alert"
                        style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="word">
                            <p class="font-bold text-2xl">
                                {{ dic.word }}
                            </p>
                            <p>
                                {{ dic.partOfSpeech }}
                            </p>
                        </div>
                        <button class="btn btn-error rounded-full" @click="playAudio(dic.audio)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M15 8a5 5 0 0 1 0 8" />
                                <path d="M17.7 5a9 9 0 0 1 0 14" />
                                <path
                                    d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" />
                            </svg>
                        </button>
                    </div>

                    <div class="border-l-4 border-orange text-white p-4 my-2 card-dic" role="alert">
                        <p class="font-bold text-2xl">Meaning</p>
                        <p>
                            {{ dic.definition }}
                        </p>
                    </div>

                    <div class="border-l-4 text-white p-4 my-2 card-dic" role="alert">
                        <p class="font-bold text-2xl">Example</p>
                        <p>
                            {{ dic.example }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loader -->
        <div class="loader" v-else>
            <lottie-player 
            src="/res/loader.json" 
            background="transparent"  
            speed="1"  style="width: 220px; height: 220px;"  
            loop autoplay>
        </lottie-player>  
        </div>
    </div>
    
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="js/app.js"></script>
</body>

</html>