<section id="about">
    <div class="container">
        <h3 class="section-title">About<span>.</span></h3>
        <img src="https://picsum.photos/200" alt="my image">

        <div class="about-content">
            <div class="about-text">
                <p>
                    Hello World 👋! I'm <span>Abdellatif Laghjaj</span>, a student in computer science. I've been an enthusiast of programming my whole life. IMHO, programming is like a game of chess with a machine!
                    I'm interested in <span>web</span> dev, <span>mobile</span> dev, and also <span>desktop</span> dev.
                    I'm looking forward to <span>learning</span> more about being a <span>full-stack</span> developer! 😃
                </p>
            </div>

            <div class="about-skills">
                <!-- Skill item -->
                <div class="skill">
                    <h4>Web Development</h4>
                    <div class="progress">
                        <div class="progress-bar web" style="background: #F94C66;">
                            90%
                        </div>
                    </div>
                </div>
                
                <!-- Skill item -->
                <div class="skill">
                    <h4>PHP & MySQL</h4>
                    <div class="progress">
                        <div class="progress-bar backend" style="background: #A084CF;">
                            90%
                        </div>
                    </div>
                </div>

                <!-- Skill item -->
                <div class="skill">
                    <h4>Mobile Development</h4>
                    <div class="progress">
                        <div class="progress-bar mobile" style="background: #FF9F29;">
                            70%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>