<section id="about">
    <div class="container">
        <h3 class="section-title">About</h3>
        <img src="https://picsum.photos/200" alt="my image">

        <div class="about-content">
            <div class="about-text">
                <p>
                    Hello World 👋! I'm <b>Abdellatif Laghjaj</b>, a student in computer science. I've been an enthusiast of programming my whole life. IMHO, programming is like a game of chess with a machine!
                    I'm interested in <b>web</b> dev, <b>mobile</b> dev, and also <b>desktop</b> dev.
                    I'm looking forward to <b>learning</b> more about being a <b>full-stack</b> developer! 😃
                </p>
            </div>

            <div class="about-skils">
                <div class="skill">
                    <h4>Web</h4>
                    <div class="progress">
                        <div class="progress-bar" per="90%">90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>