<section id="contact">
    <h3 class="section-title">Contact<span>.</span></h3>
    <div class="container">
        <!-- Contact Form -->
        <form action="" id="contact-form" class="contact-form" method="post">
            <div class="input-container">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name" required>
            </div>

            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Your email" required>
            </div>

            <div class="input-container">
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject" required>
            </div>

            <div class="input-container">
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Your message" required></textarea>
            </div>

            <button type="submit" class="btn">
                Send
                <i data-feather="send"></i>
            </button>
        </form>

        <!-- Contact info -->
        <div class="contact-info">
            <div class="contact-item">
                <i data-feather="map-pin"></i>
                <h4>Address</h4>
                <p>
                    <span>
                        Calefornia, USA
                    </span>
                </p>
            </div>

            <div class="contact-item">
                <i data-feather="phone"></i>
                <h4>Phone</h4>
                <p>
                    <span>
                        +1 (123) 456-7890
                    </span>
                </p>
            </div>

            <div class="contact-item">
                <i data-feather="mail"></i>
                <h4>Email</h4>
                <p>
                    <span>
                        <a href="mailto:abdellatiflaghjaj@gmail.com">
                            abdellatiflaghjaj@gmail.com
                        </a>
                    </span>
                </p>
            </div>

            <!-- Social Media Links -->
            <div class="social-media">
                <div class="social-link">
                    <a href="https://www.facebook.com/abdellatif.laghjaj" target="_blank">
                        <i data-feather="github"></i>
                    </a>
                </div>

                <div class="social-link">
                    <a href="https://codepen.io/abdellatiflaghjaj/" target="_blank">
                        <i data-feather="codepen"></i>
                    </a>
                </div>

                <div class="social-link">
                    <a href="https://www.facebook.com/abdellatif.laghjaj" target="_blank">
                        <i data-feather="facebook"></i>
                    </a>
                </div>

                <div class="social-link">
                    <a href="https://www.linkedin.com/in/abdellatif-laghjaj-b8a8b817a/" target="_blank">
                        <i data-feather="linkedin"></i>
                    </a>
                </div>

                <div class="social-link">
                    <a href="https://www.instagram.com/abdellatif_laghjaj/" target="_blank">
                        <i data-feather="instagram"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>