<section id="projects">
    <div class="container">
        <h3 class="section-title">Projects<span>.</span></h3>
        
        <!-- Projects container -->
        <div class="projects-content">
            <!-- Project item -->
            <div class="project-item">
                <div class="project-image">
                    <img src="https://picsum.photos/200" alt="my image">
                </div>

                <div class="project-info">
                    <h4>Project title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis,
                        nisl nunc ultricies nisi, eu aliquet nunc nisl eget
                        consectetur sagittis.
                    </p>
                    
                    <div class="project-btns">
                        <a href="#" class="project-link">
                            <i class="fas fa-link"></i>
                            Visit website
                        </a>
                        <a href="#" class="project-source">
                            <i class="fab fa-github"></i>
                            View source code
                        </a>
                    </div>
                </div>
            </div>

            <!-- Project item -->
            <div class="project-item">
                <div class="project-image">
                    <img src="https://picsum.photos/200" alt="my image">
                </div>

                <div class="project-info">
                    <h4>Project title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis,
                        nisl nunc ultricies nisi, eu aliquet nunc nisl eget
                        consectetur sagittis.
                    </p>
                    
                    <div class="project-btns">
                        <a href="#" class="project-link">
                            <i class="fas fa-link"></i>
                            Visit website
                        </a>
                        <a href="#" class="project-source">
                            <i class="fab fa-github"></i>
                            View source code
                        </a>
                    </div>
                </div>
            </div>

            <!-- Project item -->
            <div class="project-item">
                <div class="project-image">
                    <img src="https://picsum.photos/200" alt="my image">
                </div>

                <div class="project-info">
                    <h4>Project title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis,
                        nisl nunc ultricies nisi, eu aliquet nunc nisl eget
                        consectetur sagittis.
                    </p>
                    
                    <div class="project-btns">
                        <a href="#" class="project-link">
                            <i class="fas fa-link"></i>
                            Visit website
                        </a>
                        <a href="#" class="project-source">
                            <i class="fab fa-github"></i>
                            View source code
                        </a>
                    </div>
                </div>
            </div>

            <!-- Project item -->
            <div class="project-item">
                <div class="project-image">
                    <img src="https://picsum.photos/200" alt="my image">
                </div>

                <div class="project-info">
                    <h4>Project title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis,
                        nisl nunc ultricies nisi, eu aliquet nunc nisl eget
                        consectetur sagittis.
                    </p>
                    
                    <div class="project-btns">
                        <a href="#" class="project-link">
                            <i class="fas fa-link"></i>
                            Visit website
                        </a>
                        <a href="#" class="project-source">
                            <i class="fab fa-github"></i>
                            View source code
                        </a>
                    </div>
                </div>
            </div>

            <!-- Project item -->
            <div class="project-item">
                <div class="project-image">
                    <img src="https://picsum.photos/200" alt="my image">
                </div>

                <div class="project-info">
                    <h4>Project title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec euismod, nisl eget consectetur sagittis,
                        nisl nunc ultricies nisi, eu aliquet nunc nisl eget
                        consectetur sagittis.
                    </p>
                    
                    <div class="project-btns">
                        <a href="#" class="project-link">
                            <i class="fas fa-link"></i>
                            Visit website
                        </a>
                        <a href="#" class="project-source">
                            <i class="fab fa-github"></i>
                            View source code
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>