<section id="services">
    <h3 class="section-title">Services<span>.</span></h3>
    
    <div class="services-container">
        <div class="service-card">
            <img src="assets/service_1.png" alt="">
            <h4>Web Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
        </div>

        <div class="service-card">
            <img src="assets/service_1.png" alt="">
            <h4>Web Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
        </div>

        <div class="service-card">
            <img src="assets/service_1.png" alt="">
            <h4>Web Development</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
        </div>
    </div>
</section>