<div class="theme-popup">
    <div class="theme-popup-inner">
        <div class="theme-popup-header">
            <h3>Customize your theme</h3>
            <div class="close-settings-btn">
                <i data-feather="x"></i>
            </div>
        </div>
        <div class="theme-popup-body">
            <div class="color-picker">
                <span class="color-item"></span>
                <span class="color-item"></span>
                <span class="color-item"></span>
                <span class="color-item"></span>
                <span class="color-item"></span>
            </div>
            <div class="theme-mode">
                <div class="theme-item">
                    <i data-feather="sun"></i>
                    <span>Light</span>
                </div>
                <div class="theme-item dark-mode">
                    <i data-feather="moon"></i>
                    <span>Dark</span>
                </div>
            </div>
        </div>
    </div>
</div>